:root {
  --primary-color: #6F3D24
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #E1CDA6;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.left-text,
.right-text {
  width: 20%;
  font-size: 18px;
  font-weight: 600;
}

.middle,
.middle-img {
  width: 30%;
}

.rotate-text {
  transform: rotate(270deg);
}

.left-text {
  display: flex;
  justify-content: flex-start;
  color: var(--primary-color);
}

.right-text {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

.middle {
  text-align: left;
}