:root {
  --primary-color: #6F3D24
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-100 {
  width: 100%;
}

.primary-color {
  color: var(--primary-color);
}

.background {
  background: #E1CDA6;
}

.outside-text {
  color: var(--primary-color);
  transform: rotate(270deg);
  letter-spacing: 1px;
  font-size: 18px;
}

.outside-text-right {
  color: var(--primary-color);
  transform: rotate(270deg);
  letter-spacing: 1px;
  font-size: 18px;
  display: flex;
  gap: 1.5rem;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}

.middle h1 {
  font-size: 96px;
  font-weight: 900;
}

.middle p {
  font-size: 24px;
}

.middle-img {
  width: 25%;
  position: relative;
}

.image-title {
  position: absolute;
  top: 100px;
  right: -30%;
  width: 50%;
  background: rgba(111, 61, 36, .6);
  color: white;
  padding: 1rem;
  font-size: 24px;
  font-weight: 700;
}

.arrow {
  width: 100%;
  display: flex;
  justify-content: end;
}